* {
  box-sizing: border-box; }

html,
body,
ul,
li {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  letter-spacing: 2px; }

a {
  text-decoration: none;
  color: #FFF; }
  a:hover, a:visited {
    text-decoration: none;
    color: #FFF; }

.flex {
  display: flex; }

.flex-center, .title, .general-title, .mission-container, .button-container, .sign-up-button {
  justify-content: center;
  text-align: center; }

hr {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #cacaca, #ccc); }

.nav-container {
  display: flex;
  flex-direction: row;
  background-color: transparent;
  border: none;
  width: 100vw;
  color: #FFF;
  height: 14vh; }

.title-container-text {
  justify-content: center;
  text-align: center;
  margin-left: 4em;
  text-transform: uppercase; }

.title-nav-container {
  padding-left: 5em;
  font-size: 2em;
  text-transform: uppercase; }

.link-container {
  margin-right: 3em; }

.title-nav {
  font-size: 1.2em;
  text-transform: uppercase; }

.nav-links {
  color: #FFF !important;
  font-weight: 100;
  font-size: 1.2em !important;
  padding-top: 1.4em !important;
  margin: .4em !important;
  justify-content: right;
  text-transform: uppercase; }
  .nav-links:visited {
    color: #FFF; }
  .nav-links:hover {
    background: transparent !important; }

.nav-middle-div {
  flex-grow: 2; }

.landing-image {
  background: url(../images/landing_page.jpeg) no-repeat center center;
  background-size: cover;
  height: 100vh;
  opacity: 0.96; }

.image-header {
  display: flex;
  flex-direction: column; }

.flex-center, .title, .general-title, .mission-container, .button-container, .sign-up-button {
  text-align: center;
  justify-content: center; }

.title, .general-title {
  color: #FFF;
  font-weight: 700;
  font-size: 5.5em;
  letter-spacing: 4px;
  text-transform: uppercase; }

.mission-container {
  padding: 3em; }

.mission-text {
  font-size: 2.6em;
  color: #fff;
  font-weight: 300;
  text-transform: uppercase; }

.button-container {
  padding: 3em; }

.sign-up-button {
  border: 3px solid #FFF;
  padding: .2em .6em;
  cursor: pointer;
  font-size: 3em;
  font-weight: 300;
  color: #FFF;
  background: transparent;
  border-radius: .25rem;
  text-transform: uppercase; }

.sign-up-button:hover {
  color: #1F1F1F;
  background: #EBEBEB; }

.about-image {
  background: url(../images/about_page.jpeg) no-repeat center center;
  background-size: cover;
  height: 90vh;
  opacity: 0.96; }

.about-title-container {
  margin-top: 9em; }

.header-row {
  margin: 7em 0 3.5em 0; }

.about-story-container {
  flex-direction: column;
  margin: 4em; }

.about-button-container {
  margin: 4em;
  justify-content: space-around; }

.about-page-button {
  border: 3px solid #FFF;
  padding: .2em .6em;
  cursor: pointer;
  font-size: 3em;
  font-weight: 300;
  color: #FFF;
  background: #b7b7b7;
  border-radius: .25rem;
  text-transform: uppercase; }
  .about-page-button:hover {
    color: #3B3B3B; }

.coffee-image {
  background: url(../images/coffee_page.jpeg) no-repeat center center;
  background-size: cover;
  height: 90vh;
  opacity: 0.96; }

.coffee-title-container {
  margin-top: 9em; }

.country-header-container {
  margin: 4em 0 1em 4em; }

.coffee-container {
  justify-content: space-around;
  margin-bottom: 7em;
  flex-wrap: wrap; }

.coffe-card {
  flex-wrap: wrap; }

.coffee-photo {
  height: 300px;
  width: 300px;
  justify-content: space-between; }

.coffee-detail-image {
  background: url(../images/coffee-detail_page.jpeg) no-repeat center center;
  background-size: cover;
  height: 90vh;
  opacity: 0.96; }

.coffee-detail-title-container {
  margin-top: 9em; }

.method-header-container {
  display: flex;
  justify-content: space-around;
  margin-left: -2em; }

.coffee-detail-top-container {
  flex-direction: row;
  justify-content: space-around;
  margin: 4em 0; }

.coffee-detail-top-card {
  margin: 1em 2em; }

.coffee-detail-photo {
  height: 500px;
  width: 500px;
  margin: 0 3em; }

.coffee-detail-description {
  font-size: 1.1em;
  margin: 1em 3em; }

.coffee-detail-bottom-container {
  flex-direction: row;
  justify-content: space-around;
  margin: 4em 0; }

.coffee-detail-bottom-card {
  flex-direction: column;
  margin: 1em 2em; }

.detail-text {
  font-size: 2.2em; }

.coffee-deatil-button-container {
  margin: 5em;
  flex-direction: column; }

.coffee-detail-page-button {
  border: 3px solid #FFF;
  margin: 2em 2em;
  padding: .2em .6em;
  cursor: pointer;
  font-size: 2em;
  font-weight: 300;
  color: #FFF;
  background: #b7b7b7;
  border-radius: .25rem;
  text-transform: uppercase; }
  .coffee-detail-page-button:hover {
    color: #3B3B3B; }

.learn-image {
  background: url(../images/learn_page.jpeg) no-repeat center center;
  background-size: cover;
  height: 90vh;
  opacity: 0.96; }

.learn-title-container {
  margin-top: 9em; }

.method-header-container {
  display: flex;
  justify-content: space-around;
  margin-left: -2em; }

.learn-container {
  flex-direction: row;
  justify-content: space-around;
  margin: 4em 0; }

.learn-card {
  flex-direction: column; }

.method-text {
  font-weight: 300;
  margin-bottom: 1em; }

.learn-photo {
  height: 300px;
  width: 300px;
  margin: 0 2.4em; }

.portal-image {
  background: url(../images/portal_page.jpeg) no-repeat center center;
  background-size: cover;
  height: 90vh;
  opacity: 0.96; }

.portal-title-container {
  margin-top: 9em; }

.portal-button-container {
  margin: 5em; }

.portal-page-button {
  border: 3px solid #FFF;
  margin: 0 2em;
  padding: .2em .6em;
  cursor: pointer;
  font-size: 2em;
  font-weight: 300;
  color: #FFF;
  background: #b7b7b7;
  border-radius: .25rem;
  text-transform: uppercase; }
  .portal-page-button:hover {
    color: #3B3B3B; }

.add-portal-image {
  background: url(../images/add-portal_page.jpeg) no-repeat center center;
  background-size: cover;
  height: 90vh;
  opacity: 0.96; }

.add-portal-title-container {
  margin-top: 9em; }

.method-header-container {
  display: flex;
  justify-content: space-around;
  margin-left: -2em; }

.add-portal-container {
  flex-direction: row;
  justify-content: space-around;
  margin: 3em 0; }

.add-portal-col-one {
  flex-direction: column;
  margin: 1em 2em; }

.add-portal-col-two {
  flex-direction: column;
  margin: 1em 2em; }

.add-portal-col-three {
  flex-direction: column;
  margin: 1em 2em; }

.input-container {
  margin: 1em 0; }

.add-portal-input {
  width: 16em;
  font-size: 1.4em; }

.add-portal-textarea {
  font-size: 1.4em; }

.custom-file-input {
  margin-top: 9em;
  margin-left: 4em; }

.add-portal-bottom-container {
  flex-direction: row;
  justify-content: space-around;
  margin: 4em 0; }

.coffee-deatil-button-container {
  margin: 5em;
  flex-direction: column; }

.add-portal-page-button {
  border: 3px solid #FFF;
  margin: 2em 2em;
  padding: .2em .6em;
  cursor: pointer;
  font-size: 2em;
  font-weight: 300;
  color: #FFF;
  background: #b7b7b7;
  border-radius: .25rem;
  text-transform: uppercase; }
  .add-portal-page-button:hover {
    color: #3B3B3B; }

.coffee-view-image {
  background: url(../images/coffee-view_page.jpeg) no-repeat center center;
  background-size: cover;
  height: 90vh;
  opacity: 0.96; }

.coffee-view-title-container {
  margin-top: 9em; }

.coffee-view-container {
  justify-content: space-around;
  margin: 7em 0; }

.coffee-view-photo {
  height: 250px;
  width: 250px;
  justify-content: space-between; }

.passport-image {
  background: url(../images/passport_page.jpeg) no-repeat center center;
  background-size: cover;
  height: 90vh;
  opacity: 0.96; }

.passport-title-container {
  margin-top: 9em; }

.passport-container {
  justify-content: space-around;
  margin: 7em 0; }

.passport-photo {
  height: 250px;
  width: 250px;
  justify-content: space-between; }

.passport-review-image {
  background: url(../images/passport-review_page.jpeg) no-repeat center center;
  background-size: cover;
  height: 90vh;
  opacity: 0.96; }

.passport-review-title-container {
  margin-top: 9em; }

.method-header-container {
  display: flex;
  justify-content: space-around;
  margin-left: -2em; }

.passport-review-top-container {
  flex-direction: row;
  justify-content: space-around;
  margin: 5em 0; }

.passport-review-photo {
  height: 500px;
  width: 500px; }

.passport-review-right-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 5em; }

.passport-review-description {
  font-size: 1.1em;
  margin: 1em;
  line-height: 2em; }

.passport-review-middle-container {
  flex-direction: column;
  margin: 3em; }

.passport-review-bottom-container {
  flex-direction: row;
  margin: 4em 1em; }

.passport-review-bottom-card {
  flex-direction: column;
  margin: 1em 2em; }

.detail-text {
  font-size: 1.3em; }

.coffee-deatil-button-container {
  margin: 5em;
  flex-direction: column; }

.coffee-detail-page-button {
  border: 3px solid #FFF;
  margin: 0 5em;
  padding: .2em .6em;
  cursor: pointer;
  font-size: 2em;
  font-weight: 300;
  color: #FFF;
  background: #b7b7b7;
  border-radius: .25rem;
  text-transform: uppercase; }
  .coffee-detail-page-button:hover {
    color: #3B3B3B; }

.row-title {
  font-size: 1.5em;
  font-weight: 400; }
