
hr {
  height: 1px;
  width: 95%;
}


.sign-up-btn {
  margin: 0 auto;
  padding: 1em;
  border: 1px solid black;
  box-sizing: border-box;
  width: 7em;
  text-align: center;
  cursor: pointer;
}

.learn-img {
  width: 380px;
  height: 330px;
}
