<div class="container-fluid">
  <div class="row add-portal-image image-header">
    <div ng-include="'app/nav/nav.html'" ng-controller="NavCtrl as nav"></div>
      <div class="add-portal-title-container flex flex-center">
        <h1 class="general-title">Publish Coffee</h1>
      </div>
  </div>

  <div class="flex flex-center header-row">
    <h1>Upload Coffee</h1>
  </div>

  <hr>

  <div class="add-portal-container flex">
    <div class="add-portal-col-one flex">
      <section class="input-container">
        <h4>Name</h4>
        <input class="add-portal-input" type="text" ng-model="addPortal.name">
      </section>
      <section class="input-container">
        <h4>Farm</h4>
        <input class="add-portal-input" type="text" ng-model="addPortal.farm">
      </section>
      <section class="input-container">
        <h4>Altitude</h4>
        <input class="add-portal-input" type="text" ng-model="addPortal.altitude">
      </section>
      <section class="input-container">
        <h4>Process</h4>
        <input class="add-portal-input" type="text" ng-model="addPortal.process">
      </section>
      <section class="input-container">
        <h4>Notes</h4>
        <input class="add-portal-input" type="text" ng-model="addPortal.notes">
      </section>
    </div>


    <div class="add-portal-col-two flex">
      <section class="input-container">
        <h4>Region</h4>
        <input class="add-portal-input" type="text" ng-model="addPortal.region">
      </section>
      <section class="input-container">
        <h4>Brew Method</h4>
        <input class="add-portal-input" type="text" ng-model="addPortal.brewMethod">
      </section>
      <section class="input-container">
        <h4>Varietal</h4>
        <input class="add-portal-input" type="text" ng-model="addPortal.varietal">
      </section>
      <section class="input-container">
        <h4>Description</h4>
        <textarea class="add-portal-textarea" type="text" ng-model="addPortal.description" rows="4.5" cols="29"></textarea>
      </section>
    </div>
    <div class="add-portal-col-three flex">
      <!-- <label class="custom-file-input">Browse -->
      <input class="custom-file-input" type="file" name="img" ng-model="addPortal.image">
      <button class="add-portal-page-button" ng-click=(addPortal.addCoffee())>Add Coffee</button>
    </div>
  </div>

<!--   <div class="add-portal-top-container flex flex-center">
    <div class="add-portal-top-card flex">



    </div>
    <div class="add-portal-card flex">
    </div>
  </div>

  <hr>

  <div class="add-portal-bottom-container flex">
    <div class="add-portal-buttton-container flex">
      <button class="add-portal-page-button" ng-click=(addPortal.addCoffee())>Add Coffee</button>
    </div>
  </div> -->

</div>













<!-- NAV BAR -->
<!-- <div ng-include="'app/nav/nav.html'" ng-controller="NavCtrl as nav"></div>

<div class="container-fluid">

  <div class="row">
    <div class="col-sm-12">
      <h1>Hello, im add portal{{addPortal.currentUser.username}}</h1>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-sm-4">
      <section>
        <div>Name</div>
        <input type="text" ng-model="addPortal.name">
      </section>
      <section>
        <div>Farm</div>
        <input type="text" ng-model="addPortal.farm">
      </section>
      <section>
        <div>Varietal</div>
        <input type="text" ng-model="addPortal.varietal">
      </section>
      <section>
        <div>Altitude</div>
        <input type="text" ng-model="addPortal.altitude">
      </section>
      <section>
        <div>Process</div>
        <input type="text" ng-model="addPortal.process">
      </section>
      <section>
        <div>Notes</div>
        <input type="text" ng-model="addPortal.notes">
      </section>
    </div>

    <div class="col-sm-4">
      <section>
        <div>Region</div>
        <input type="text" ng-model="addPortal.region">
      </section>
      <section>
        <div>Brew Method</div>
        <input type="text" ng-model="addPortal.brewMethod">
      </section>
      <textarea type="text" ng-model="addPortal.description" rows="5" cols="40"></textarea>
    </div> -->

<!--     <div class="col-sm-4">
      <label>Coffee Photo:</label>
      <input type="file" name="img" ng-model="addPortal.image">
    </div>

  </div> --> <!-- END OF FORM ROW -->
<!--
  <div class="row">
    <div class="col-sm-12">
      <p class="sign-up-btn" ng-click=(addPortal.addCoffee())>Add Coffee</p>
    </div>
  </div>

</div>  --><!-- END OF VIEW -->
