<!-- NAV BAR -->
<div ng-include="'app/nav/nav.html'" ng-controller="NavCtrl as nav"></div>

<div class="container-fluid">

  <div class="row">
    <div class="col-sm-12">
      <h1>Hello, im add portal{{addPortal.currentUser.username}}</h1>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-sm-4">
      <section>
        <div>Name</div>
        <input type="text" ng-model="addPortal.name">
      </section>
      <section>
        <div>Farm</div>
        <input type="text" ng-model="addPortal.farm">
      </section>
      <section>
        <div>Varietal</div>
        <input type="text" ng-model="addPortal.varietal">
      </section>
      <section>
        <div>Altitude</div>
        <input type="text" ng-model="addPortal.altitude">
      </section>
      <section>
        <div>Process</div>
        <input type="text" ng-model="addPortal.process">
      </section>
      <section>
        <div>Notes</div>
        <input type="text" ng-model="addPortal.notes">
      </section>
    </div>

    <div class="col-sm-4">
      <section>
        <div>Region</div>
        <input type="text" ng-model="addPortal.region">
      </section>
      <section>
        <div>Brew Method</div>
        <input type="text" ng-model="addPortal.brewMethod">
      </section>
      <textarea type="text" ng-model="addPortal.description" rows="5" cols="40"></textarea>
    </div>

    <div class="col-sm-4">
      <label>Coffee Photo:</label>
      <input type="file" name="img" ng-model="addPortal.image">
    </div>

  </div> <!-- END OF FORM ROW -->

  <div class="row">
    <div class="col-sm-12">
      <p class="sign-up-btn" ng-click=(addPortal.addCoffee())>Add Coffee</p>
    </div>
  </div>

</div> <!-- END OF VIEW -->
