// LEARN IMAGE
.learn-image
  background: url(../images/learn_page.jpeg) no-repeat center center
  background-size: cover
  height: 90vh
  opacity: 0.96

// IMAGE TITLE CONTAINER
.learn-title-container
  margin-top: 9em

// IMAGE TITLE
.general-title
  @extend .title

// LEARN HEADER CONTAINER
.method-header-container
  margin: 4em 0 1em 4em

// LEARN COUNTRY TEXT
.method-text
  font-weight:


// LEARN CONTAINER
.learn-container
  justify-content: space-around
  margin-bottom: 7em

// LEARN CARDS
.coffe-card

// LEARN IMAGE
.learn-photo
  height: 300px
  width: 300px
  justify-content: space-between