<div class="container-fluid">
  <div class="row coffee-image image-header">
    <div ng-include="'app/nav/nav.html'" ng-controller="NavCtrl as nav"></div>
      <div class="coffee-title-container flex flex-center">
        <h1 class="general-title">Coffee</h1>
      </div>
  </div>

  <div class="flex flex-center header-row">
    <h1>Coffees Around the World</h1>
  </div>

  <hr>

  <div class="country-header-container flex">
    <h3 class="country-text">Latin America</h3>
  </div>
  <div class="coffee-container flex">
    <div class="coffee-card" ng-repeat="coffee in coffee.latinAmerica">
      <a href="/#/coffee/{{coffee.id}}" title=""><img class="coffee-photo" ng-src="{{coffee.image}}"></a>
    </div>
  </div>

  <hr>

  <div class="country-header-container flex">
    <h3 class="country-text">Africa</h3>
  </div>
  <div class="coffee-container flex">
    <div class="coffee-card" ng-repeat="coffee in coffee.africa">
      <a href="/#/coffee/{{coffee.id}}" title=""><img class="coffee-photo" ng-src="{{coffee.image}}"></a>
    </div>
  </div>

  <hr>

  <div class="country-header-container flex">
    <h3 class="country-text">Oceania</h3>
  </div>
  <div class="coffee-container flex">
    <div class="coffee-card" ng-repeat="coffee in coffee.oceania">
      <a href="/#/coffee/{{coffee.id}}" title=""><img class="coffee-photo" ng-src="{{coffee.image}}"></a>
    </div>
  </div>

</div>
