<!-- NAV BAR -->
<div ng-include="'app/nav/nav.html'" ng-controller="NavCtrl as nav"></div>

<h1>{{coffee.title}}</h1>
<div class="container-fluid">
  <h1>{{coffee.currentUser}}</h1>
  <h1>{{coffee.currentUserType}}</h1>
  <div class="row">
    <div class="col-sm-12">
      <h1>Coffeebook</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <p>Latin America</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12" ng-repeat="coffee in coffee.latinAmerica">
      <a href="/#/coffee/{{coffee.id}}" title=""><img ng-src="{{coffee.image}}"></a>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-sm-12">
      <p>Africa</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12" ng-repeat="coffee in coffee.africa">
      <a href="/#/coffee/{{coffee.id}}" title=""><img ng-src="{{coffee.image}}"></a>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-sm-12">
      <p>Oceania</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12" ng-repeat="coffee in coffee.oceania">
      <a href="/#/coffee/{{coffee.id}}" title=""><img ng-src="{{coffee.image}}"></a>
    </div>
  </div>

</div>
