<h1>I'm auth nice to meet you</h1>

</div>
  <div>Username</div>
  <input type="text" ng-model="auth.username">
<div>

<div>
  <div>Password</div>
  <input type="password" ng-model="auth.password">
</div>

<button ng-click="auth.login()">Login</button>



<div>Company
  <input type="radio" name="type" ng-model="auth.user_type" value="Shop">
</div>
<div>User
  <input type="radio" name="type" ng-model="auth.user_type" value="Client">
</div>
<section>
  <div>Username</div>
  <input type="text" ng-model="auth.username">
</section>
<section>
  <div>Password</div>
  <input type="password" ng-model="auth.password">
</section>
<section>
  <div>Email</div>
  <input type="email" ng-model="auth.email">
</section>
<section>
  <div>First name</div>
  <input type="text" ng-model="auth.first_name">
</section>
<section>
  <div>Last name</div>
  <input type="text" ng-model="auth.last_name">
</section>
<section>
  <div>Company</div>
  <input type="text" ng-model="auth.shop_name" value="''">
</section>

<section>
  <div>Location</div>
  <input type="text" ng-model="auth.location" value="''">
</section>
<button ng-click="auth.register()">Register</button>
</article>